$accent: #18bb7c;
$headerGrey: #f8f8f8;
$bodyGrey: #f5f5f5;
$footerDark: #191919;
$fontGrey: #666666;
$fontDark: #333333;
$white: #ffffff;
$lineGrey: #e1e1e1;
$buttonBlack: #070707;
$headFont: 'Raleway', sans-serif;
$bodyFont: 'Open Sans', sans-serif;